* {
  box-sizing: border-box;
}

.main {
  float: left;
  width: 40%;
  padding: 0 20px;
}

.right {
  float: left;
  width: 30%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
}

.left {
  float: left;
  width: 30%;
  padding: 15px;
  margin-top: 7px;
  text-align: left;
}

.forms {
  float: left;
  width: 40%;
  padding: 0 20px;
  margin-top: 7px;
  text-align: center;
}


@media only screen and (max-width: 620px) {

  /* For mobile phones: */
  .menu,
  .forms,
  .main,
  .left,
  .right {
    width: 100%;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.button {
  width:100px;
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 4px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 4px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

button:disabled,
button[disabled]{
  border: 4px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

button[disabled]:hover{
  border: 4px solid #999999;
  background-color: #cccccc;
  color: #666666;
}


